@model NPQIP.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h1>@ViewBag.Title</h1>
@*@Html.ActionLink("Register", "Register") *@
<section class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
              <div class="pull-right"> 
                    @Html.ActionLink("Forget Password?", "LostPassword")                   
            </div>
        </div>
   
        <button type="submit" class="btn btn-default btn-lg center-block">Log in</button>

    }

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}